@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?csf6c5');
  src:  url('fonts/icomoon.eot?csf6c5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?csf6c5') format('truetype'),
    url('fonts/icomoon.woff?csf6c5') format('woff'),
    url('fonts/icomoon.svg?csf6c5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark-1:before {
  content: "\e907";
}
.icon-cancel-1:before {
  content: "\e906";
}
.icon-arrow-1-up:before {
  content: "\e902";
}
.icon-arrow-1-right:before {
  content: "\e903";
}
.icon-arrow-1-down:before {
  content: "\e901";
}
.icon-arrow-1-left:before {
  content: "\e904";
}
.icon-list-1:before {
  content: "\e905";
}
.icon-chat-1:before {
  content: "\e908";
}
.icon-shoppingCart-1:before {
  content: "\e900";
}

